{% assign pagfloat = site.paginate | times:1.0 %}
{% assign numofpag = site.posts.size | divided_by:pagfloat | ceil %}
{% assign pagplus = site.paginate | plus:1 %}
{% assign pagmin = site.paginate | minus:1 %}
{% for page in (1..numofpag) %}
  {% if page == paginator.page %}
    {% assign toppost = page | minus:1 | times:pagmin | plus:page | minus:1 %}
    <!-- <p id="band"> {{ page | minus:1 | times:pagmin | plus:page }} {{ site.posts[toppost].title }}</p> -->
    {% if site.posts[toppost].backgrim and site.posts[toppost].caption %}
      <body style="background-image: 
        {% if site.posts[toppost].backgrim contains 'http' %}
        url('{{ site.posts[toppost].backgrim }}');
        {% else %}
        url('{{ site.url }}{{ site.baseurl }}/assets/images/{{ site.posts[toppost].backgrim }}');
        {% endif %}
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        background-size: cover;">
      <p id="backimg-cap">{{ site.posts[toppost].caption}}</p>
      {% if site.posts[toppost].bandkleur %}
        <main id="band" class="home" style="background-color: {{ site.posts[toppost].bandkleur }};" id="main" role="main" aria-label="Content">
      {% else %}
        <main id="band" class="home" id="main" role="main" aria-label="Content">
      {% endif %}  
    {% else %}
      <body style="background-image: 
        url('{{ site.url }}{{ site.baseurl }}{{ site.backimg }}'); 
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        background-size: cover;">
      <p id="backimg-cap">Dit is de duiker</p> 
    {% endif %}
  {% endif %}
{% endfor %}

