{% if paginator.page %} 
    {% if paginator.page == 1 %}
        style="background-image: 
                url('{{ site.url }}{{ site.baseurl }}{{ site.backimg }}'); background-repeat: no-repeat;
                background-attachment: fixed;
                background-position: center;
                background-size: cover;"
    {% else %}        
        style="background-image: 
                url('https://upload.wikimedia.org/wikipedia/commons/7/73/The_Adventure_of_the_Dying_Detective_02.jpg'); 
                background-repeat: no-repeat;
                background-attachment: fixed;
                background-position: center;
                background-size: cover;"
    {% endif %}  
{% endif %}           