<main id="band" class="home" id="main" role="main" aria-label="Content">

      <header class="site-masthead">
          <!-- {% include menu.html %} -->
          <div class="relative">
            <a id="areah" href="" onclick="toggleNav()" title="Menu" alt="alttext">
              <p id="asterisk">*</p>
            </a>
            <a href="{{ '/' | prepend: site.baseurl }}">
                  <img id="logo" src="{{ site.url }}{{ site.baseurl }}{{ site.logo }}" title="Home" alt="{{ site.title }} – {{ site.slogan }}">
            </a>
          </div>
          {% if site.title %}
            <h2>
              {{ site.description }}
            </h2>
          {% endif %}
      </header>

       <div class="red-pag">

            <h2 class="content-title divided">
            Page {{ paginator.page }}
            </h2>

      </div>
