
html {
  /* only disable pull-to-refresh but allow swipe navigations */
  overscroll-behavior-y: none;
  height: -webkit-fill-available;
}

body {
  background-color: $brand-color !important;
  color: $text-color;
  font-family: $font-family;
  font-size: 1.3125em;
  line-height: 1.5;
}

h1 {
  font-size: 3em;
  margin: .5em auto;
}

h2 {
  font-size: 2em;
  margin: 1em auto;
  text-align: center;
}

h3 {
  font-size: 1.5em;
  margin: 1.3333em auto;
  text-align: center;
}

h4 {
  font-size: 1.25em;
  font-style: italic;
  margin: 1.875em auto;
  text-align: center;
}

h5 {
  font-size: 1em;
  font-style: italic;
  margin: 2em auto;
  text-align: center;
}

h6 {
  font-size: .875em;
  font-style: italic;
  margin: 2.25em auto;
  text-align: center;
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

a {
  color: $text-color;
  text-decoration: none;
}

/* a:focus {
  outline: 1px dashed $text-color;
} */

blockquote {
  margin: 2em auto;
  border-left: 0 !important;
  opacity: .8 !important;
  > * {
    color: $text-color !important;
    padding: 0 2em !important;
  }
}

blockquote.epigraph {
  font-style: italic;
}

small {
  font-family: $font-family;
  font-size: .75em !important;
}

small a, a:focus, a:hover {
  color: $text-color !important;
}

p > cite {
  display: block;
  text-align: right;
}

hr {
  border: 0;
  height: 0;
  @include divider-filled;
  margin: 4em 0;
}

img {
  display: flex;
  max-width: 100%;
  height: auto;
  // margin: 2em auto;
}

figure img {
  margin: 0 auto 4px;
}

figcaption {
  font-family: $sidebar-font;
  font-size: .8em;
  line-height: 1.25em;
  // float: right;
  // font-style: italic;
  text-align: right;
  margin-bottom: 2em;
  opacity: .7;
}

figcaption a, p a {
  color: $text-color;
}

.divided::after {
  content: "";
  @include divider-filled;
}

.divided.p-name::after {
  content: "";
  @include divider-black;
}

/* .home {
  max-width: 24em;
  margin: auto;
  padding: 1em 0;
} */

.content-title {
  margin-bottom: 2em;
  text-align: center;
  color: $muted-text-color;
  font-family: $sidebar-font;
  font-weight: 600;
  font-size: $band-capital;
  margin: 0;
  /* padding: 0 2rem; */
  text-transform: uppercase;
  text-decoration: underline $head-line-color;
  @media (min-width: $on-tablet) {
    font-size: $band-capital;
    @media /* Ipad landscape */
      (min-width: 800px) and (max-width: 840px),
      (min-height: 1025px) and (max-height: 1090px) {
        font-size: $band-capital;
      }  
    @media (max-height: 440px) {
      font-size: 1.25em; 
    }
  }
}

h1.content-title:hover {
  color: $muted-text-color;
  text-decoration: underline $muted-text-color;
}  
.post-date {
  font-family: $font-family;
  color: $muted-text-color;
  display: block;
  font-size: .7em;
  white-space: nowrap;
  text-align: right;
  /* text-transform: uppercase; */
  margin-top: -4px;
  .post-link & {
    padding: .5em 0;
  }
}

.site-credits {
  margin: 1em auto 0;
  padding: 0 2em;
  text-align: center;
  // margin-top: 1em;
}

.skip-navigation {
  background: $brand-color;
  border: 1px dashed transparent;
  display: block;
  font-size: .875em;
  font-weight: 700;
  margin-top: -2.625rem;
  padding: .5rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  &:hover,
  &:focus {
    background: lighten($brand-color, 2.5%);
    border-color: $text-color;
    margin-top: 0;
  }
}
/* Style page content - use this if you want to push the page content to the left when you open the side navigation */
#band {
  min-height: 100vh;
  min-height: -webkit-fill-available;
  transition: margin-right 0.8s; /* If you want a transition effect */
  padding: 0 20px 20px 20px;
  margin-right: 0px;
  background-color: $brand-color;
  box-shadow: 12px 18px 24px rgba(31, 59, 69, 0.1);
  @media (min-width: $on-tablet) {
    width: 360px;
    margin-left: 5vw;
  }
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
} 

#backimg-cap {
font-family: $sidebar-font;
    font-size: 0.5em;
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 2px 6px;
    color: white;
    background-color: #2e2d2d;
  
  @media screen and (max-width: $on-tablet) {
    display: none;
  }
}

p#backimg-cap {
  margin-bottom: 0;
}

aside.site-credits > p {
  line-height: 0.6 ;
}

.featured-image-block-grid-header {
  margin-left: auto;
  margin-right: auto;
}

.featured-image-block {
  margin-bottom: 30px;
}

.featured-image-block a:hover p {
  color: #1779ba;
}

// .featured-image-block .featured-image-block-title {
//   font-weight: 600;
//   margin-top: 10px;
//   text-transform: uppercase;
//   letter-spacing: 1px;
//   font-size: 1em;
//   color: #404040;
// }

* {box-sizing: border-box;}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  // width: 50%;
  // max-width: 300px;
}

.overlay {
  font-family: gill sans;
  position: absolute; 
  bottom: 0; 
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1 !important; 
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.container:hover .overlay {
  opacity: 1;
}

.wrapper {
  min-height: 100vh;

  /* Equal to height of footer */
  /* But also accounting for potential margin-bottom of last child */
  margin-bottom: -50px;
  // margin-bottom: -92.5px
}
.footer-pag,
.push {
  height: 92.5px;
  margin-bottom: 2em;
}

.footer-low,
.push-low {
  height: 50px;
}

img + em {  
  display: block;
  font-size: 1rem;
}

.share-page {
  font-family: $sidebar-font;
  padding: 8px 15px;
  border-radius: 5px;
  float: left;
  margin-left: -1em;

  a {
    font-weight: 600;
    color: $muted-text-color !important;
    margin-left: 10px;

    &:hover {
        border-bottom: 1px dashed #aaa;
        color: black !important;
    }
  }
}

.share-page.about {
  margin-top: 5%;
  text-align: center;
}

.image-wrapper {
  // text-align: center;
  display: inline-block;

  .image-caption {
    font-family: $sidebar-font;
    font-size: .8em;
    line-height: 1.25em;
    text-align: right;
    // margin-bottom: 2em;
    margin-bottom: 0;
    opacity: .7;
    padding-top: 5px;
    // margin-top: -5px;
  }
}

aside.site-credits > small > p {
  margin-bottom: 0;
}
