.post-list {
  margin: 1em 0;
  list-style: none;
  &:hover,
  &:focus-within {
    .post-link {
      opacity: .6;
    }
  }
}

.post-list li {
  margin-bottom: 1em;
}

.post-link {
  color: $text-color;
  display: flex;
  flex-direction: column-reverse;
  text-decoration: none;
  padding: .25em;
  transition: opacity .125s ease-in-out;
  &:hover,
  &:focus {
    opacity: 1 !important;
  }
  @media (min-width: $on-tablet) {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    justify-content: center;
    .post-date {
      margin-left: auto;
    }
  }
}

.post-link__heading {
  display: block;
  /* margin-right: 4em; */
  @media (min-width: $on-tablet) {
    /* padding: .25em 0; */
    max-width: 18em;
  }
   @media (max-width: $on-tablet) {
      /* max-width: 320px; */
      max-width: 320px;
      margin: 0 auto;
  }
  h1 {
  /* font-size: 1em; */
    color: $head-line-color;
    margin-bottom: -3px;
    margin-top: 0;
    line-height: 1.25em;
  }
}

.post-link__title + .post-link__excerpt {
  opacity: .6;
}

.post-pagination {
  margin-top: 4rem;
  font-size: .75em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  > * {
    flex-grow: 1;
    flex-basis: 0;
    padding: 1em 0;
  }
  &:hover,
  &:focus-within {
    a {
      opacity: .6;
    }
  }
  a {
    text-decoration: none;
    text-transform: uppercase;
    transition: opacity .125s ease-in-out;
    &:hover,
    &:focus {
      opacity: 1;
    }
  }
  }

.subtitle {
  font-style: italic;
  font-size: x-large;
  font-weight: 500;
  color: $muted-text-color !important;
  text-align: center;
  max-width: 16em;
  margin: 0 auto;
  line-height: 1.25em;
  @media (max-width: $on-tablet) {
      /* max-width: 320px; */
      max-width: 320px;
      margin: 0 auto;
  }
}
