#search {
  margin: 0 auto;
  padding: 0 1rem;
  text-align: center;
}

#search__input {
  background: transparent;
  border: 0;
  font: 1em $font-family;
  padding: .5em;
  color: $text-color !important;
  text-align: center;
  &:focus {
    outline: 1px dashed $text-color !important;
  }
}

#search button[type="submit"] {
  display: none;
}

::-webkit-input-placeholder {
  color: $muted-text-color !important;
}
::-moz-placeholder {
  color: $muted-text-color !important;
}
/* :-ms-input-placeholder {
  color: $muted-text-color;
} */
::-moz-placeholder {
  color: $muted-text-color !important;
}

// onderstaande hoort bij nieuwe zoekfunctie
#search-container {
  display: flex;
  justify-content: center;
  margin-top: 1.5em;
}

#search-container input[type=text] {
  width: 310px;
  padding: 10px;
  font-family: $sidebar-font;
  font-size: 17px;
  color: $gallimard-beige;
  border: 2px solid $head-line-color;
  background: $head-line-color;
}

#search-container::after {
  content: "";
  clear: both;
  display: table;
}

#search-input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: $muted-text-color !important;
  opacity: 1; /* Firefox */
}

#search-input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: $muted-text-color !important;
}

#search-input::-ms-input-placeholder { /* Microsoft Edge */
  color: $muted-text-color !important;
}
