 /* The sidebar menu */
.sidebar {
  font-family: $sidebar-font;
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  letter-spacing: 0.371em;
  height: fit-content;
  /* height: 100%; 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  right: 0;
  @media (max-width: $on-tablet) {
      left: 0;
  }
  /* background-color: $muted-text-color; */
  background-color: rgba(56,73,79,0.7); 
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px; /* Place content 20px from the top */
  padding-bottom: 15px;
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
  text-transform: uppercase;
}

/* The sidebar links */
.sidebar a {
  padding: 0 8px 8px 8px;
  text-decoration: none;
  font-size: $band-capital;
  /* color: #818181; */
  color: $brand-color;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
  color: $asterisk-color;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 0; /* was 25px */
  font-size: 36px;
  margin-left: 50px;
}

/* The button used to open the sidebar */
.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}
