$brand-color:         	#94bfcf;
$highlight:           	lighten($brand-color, 35%);
$text-color:          	#0b0404;
$muted-text-color:    	#38494f;
$muted-highlight:	  	lighten($muted-text-color, 25%);
$head-line-color:	  	#ea505a;
$light-head-line-color: lighten($head-line-color, 15%); 
$sidebar-color:		  	#CFF2FF;
$font-family:         	"EB Garamond", Garamond, "Times New Roman", serif;
$sidebar-font:        	proxima-nova,sans-serif;
$band-capital:			1.25em;

$on-bigphone:         	375px;
$on-tablet:           	768px;
$on-laptop:           	960px;
$on-desktop:          	1200px;
