---
layout: default
---

<body style="background-image: 
    url('{{ site.url }}{{ site.baseurl }}/assets/images/burton/burtoni.jpg'); 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;">
  <p id="backimg-cap">Burton P (detail)</p>
  <main id="band" class="home" id="main" role="main" aria-label="Content">
  <div class="wrapper">  

<header class="site-masthead">
  <div data-sticky-container>
    <div class="plak" data-sticky data-margin-top='0' data-sticky-on="small">
      <div class="relative">
        <a id="areah" href='' onclick="toggleNav()" title="Menu" alt="alttext">
          <p id="asterisk">*</p>
        </a>
        {% if site.paginate and site.paginate_path and paginator.page == 1 %}
          <img id="logo" src="{{ site.url }}{{ site.baseurl }}{{ site.logo }}" alt="{{ site.title }} – {{ site.slogan }}" usemap="#workmap">
        {% else %}
          <a href="{{ '/' | prepend: site.baseurl }}">
            <img id="logo" src="{{ site.url }}{{ site.baseurl }}{{ site.logo }}" title="Home" alt="{{ site.title }} – {{ site.slogan }}">
          </a>
        {% endif %}
      </div>
    </div>
  </div>
  {% if site.title %}
    <h2>
      zijn archief
    </h2>
  {% endif %}
</header>

<div class="portfolio">
        <h2 class="content-title divided">
        </h2>
      </div> 

<div class="archive-dropdown">
  {% assign counter = 0 %}
  <ul class="menu dropdown" data-dropdown-menu data-click-open="true" data-disable-hover="true">
    <li><a href="#"><h2 class="content-title">Kies een maand</h2></a>
      <ul class="menu">
        {% for post in site.posts %}
          {% assign thisyear = post.date | date: "%B %Y" %}
          {% assign prevyear = post.previous.date | date: "%B %Y" %}
          {% assign year = post.date | date: "%Y" %}
          {% assign month = post.date | date: "%B" %}
          {% assign counter = counter | plus: 1 %}
          {% if thisyear != prevyear %}
            <li><a class="paka" href="#">{{ month }} {{ year }} ({{ counter }})</a></li>
            {% assign counter = 0 %}
          {% endif %}
        {% endfor %}
      </ul>
    </li>
  </ul>
</div>

<div id="alleposts">
  {% comment %}list post link for each year{% endcomment %}
  {% assign counts = counts | split: ', ' | reverse %}
  {% assign i = 0 %}
  {% for post in site.posts %}
      {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
      {% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
      {% capture month %}{{ post.date | date: '%B' }}{% endcapture %}
       <!--  {% if year != nyear %}
          <h3 id="{{year}}" class="archive-title not-visible {{year}}">{{ post.date | date: '%B %Y' }}</h3>
      {% assign i = i | plus: 1 %}
        {% endif %} -->
    <div class="archive-meta not-visible {{month}}{{year}}">
       <a class="post-link" href="{{ post.url | relative_url }}">
        <p class="archive-link">{{ post.title | escape }}</p>
       </a>
       <p class="subtitle">{{ post.subtitle | escape }}</p>
       <div class="post-date"><i class="icon-calendar"></i>{{ post.date | date: "%d.%m.%Y" }}
      </div>
    </div>
  {% endfor %}
</div>

<script>
$(document).ready(function(){
    // Insert elements on click of the button
    $(".paka").click(function(){
        event.preventDefault();
        $(".archive-meta").addClass("not-visible");
        var maandJaarCount = $(this).text();
        var maandJaar = maandJaarCount.replace(/\([0-9]+\)/g, "");
        var mndJr = '.' + maandJaar.replace(/\s/g, '');
        setTimeout(function() { $(mndJr).removeClass("not-visible"); }, 300 , "ease-out");
    });    
});
</script>
