---
layout: default
---

{% if site.data.menu and site.paginate and site.paginate_path and paginator.page > 1 %}
  <!-- {% include menu.html %} -->
  {% include back-link.html %}
{% elsif site.paginate and site.paginate_path and paginator.page > 1 %}
  {% include back-link.html %}
{% else %}
<div id="trunk">

  <header class="site-masthead">
    <!-- {% include menu.html %} -->
    <div class="relative">
      <a id="areah" href="#" onclick="toggleNav()" title="Menu" alt="alttext">
        <p id="asterisk">*</p>
      </a>
      <img id="logo" src="{{ site.url }}{{ site.baseurl }}{{ site.logo }}" alt="{{ site.title }} – {{ site.slogan }}" usemap="#workmap">
    </div>
    <!-- image map kan op termijn weg -->
    <map name="workmap">
      <!-- <area id="areah" shape="circle" coords="340, 10, 20" href="" onclick="toggleNav()" title="Menu" alt="alttext"> -->
      <area id="areah" shape="circle" coords="301, 8, 16" href="" onclick="toggleNav()" title="Menu" alt="alttext">
    </map>
    {% if site.title %}
      <h2>
        {{ site.description }}
      </h2>
    {% endif %}
  </header>
{% endif %}

  <div class="red-pag">
    {% if site.paginate and site.paginate_path and paginator.page > 1 %}
    <h2 class="content-title divided">
      Page {{ paginator.page }}
    </h2>
    {% else %}
      <h2 class="content-title divided">
        REDACTIE
      </h2>
      <a href="{{ site.url }}{{ '/about' | prepend: site.baseurl }}">
        <div class="undertext">
          <p>Arthur van Kruining</p>
        </div>
      </a>
    {% endif %}
  </div> 

  <main class="home" id="main" role="main" aria-label="Content">

  {% if site.paginate and site.paginate_path %}
    
    <ul class="post-list">
      {% for post in paginator.posts %}
        {% include post-list-item.html %}
      {% endfor %}
    </ul>

    {% if paginator.total_pages > 1 %}

      <div class="post-pagination">
        {% if paginator.next_page %}
          <a href="{{ paginator.next_page_path | prepend: site.baseurl  }}" class="pagination-next btn">&lang;&nbsp;Older</a>
        {% else %}
          <span>&nbsp;</span>
        {% endif %}
        <span class="pagination-number">{{ paginator.page }} of {{ paginator.total_pages }}</span>
        {% if paginator.previous_page %}
          <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class="pagination-previous btn">Newer&nbsp;&rang;</a>
        {% else %}
          <span>&nbsp;</span>
        {% endif %}
      </div>

    {% endif %}

  {% else %}

    <ul class="post-list">
      {% for post in site.posts %}
        {% include post-list-item.html %}
      {% endfor %}
    </ul>
  
  {% endif %}    

</main>
</div>