---
layout: default
---

<!-- {% if site.data.menu %} -->
  <!-- {% include menu.html %} -->
  <!-- {% include back-link.html %} -->
<!-- {% else %}
  {% include back-link.html %}
{% endif %} -->

<div data-sticky-container>
  <div class="plak lijm" data-sticky data-top-anchor="1" data-margin-top='0' data-sticky-on="small" style="width:100%">
    <div class="relative">
      <a id="areah" href='' onclick="toggleNav()" title="Menu" alt="alttext">
        <p id="asterisk">*</p>
      </a>
      {% if site.paginate and site.paginate_path and paginator.page == 1 %}
      <img id="logo" src="{{ site.url }}{{ site.baseurl }}{{ site.logo }}" alt="{{ site.title }} – {{ site.slogan }}" usemap="#workmap">
      {% else %}
      <a href="{{ '/' | prepend: site.baseurl }}">
        <img id="logo" src="{{ site.url }}{{ site.baseurl }}{{ site.logo }}" title="Home" alt="{{ site.title }} – {{ site.slogan }}">
      </a>
      {% endif %}
    </div>
  </div>
</div>


<article class="post h-entry" itemscope itemtype="https://schema.org/BlogPosting" id="main" role="article" aria-label="Content">

  {% if page.title != "" %}
    <h1 class="post-title divided p-name" itemprop="name headline">
      {{ page.title }}
    </h1>
  {% endif %}

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

  <div class="post-meta">
    {% if page.author %}
      {% include _share-page.html %}
      <div itemprop="author">{{ page.author }}</div>
    {% endif %}
    {% if page.author %}
      <time class="post-date dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%d.%m.%Y" }}</time>
    {% endif %}
  </div>

  {% if site.disqus.shortname %}
    {% include disqus-comments.html %}
  {% endif %}
</article>
